<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zovl.zhongguanhua.compenent.demo">

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->

        <!--component-->

        <activity
            android:name=".activity.StartActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AStartActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BStartActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FinishAndRemoveActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LockActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->

        <!--compenent:1st-->

        <activity
            android:name=".activity.AActivity"
            android:label="compenent:1st"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BActivity"
            android:label="compenent:1st"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CActivity"
            android:label="compenent:1st"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DActivity"
            android:label="compenent:1st"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <!--compenent:2nd-->

        <activity
            android:name=".activity.SecaActivity"
            android:taskAffinity=":sec"
            android:label="compenent:1st"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SecbActivity"
            android:taskAffinity=":sec"
            android:label="compenent:2nd"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SeccActivity"
            android:taskAffinity=":sec"
            android:label="compenent:2nd"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SecdActivity"
            android:taskAffinity=":sec"
            android:label="compenent:2nd"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->

        <activity
                android:name=".activity.ServiceActivity"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateHidden"
                android:screenOrientation="portrait"/>

        <service
            android:name=".service.ActivityService"
            android:process=":remote">
            <intent-filter >
                <action android:name="zovl.zhongguanhua.component.demo.service.ActivityService"/>
            </intent-filter>
        </service>

        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->

        <activity
            android:name=".activity.ReceiverActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.ReceiverService"
            android:process=":receiver"/>

        <receiver android:name=".receiver.Receiver">
            <intent-filter>
                <action android:name="android.intent.action.Receiver"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->

        <activity
            android:name=".activity.MessengerActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.MessengerService"
            android:process=":messenger"/>

        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->
        <!--###########################################################################-->

    </application>

</manifest>
